<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>shopURL</key>
		<string>www.baidu.com----0</string>
		<key>shopId</key>
		<string>20150520104604126C22138DC-56F5-4668-9855-44D4E149539C</string>
		<key>shopName</key>
		<string>欧比亚斯</string>
		<key>goods</key>
		<array>
			<dict>
				<key>addDate</key>
				<string></string>
				<key>shopId</key>
				<string>20150520104604126C22138DC-56F5-4668-9855-44D4E149539C</string>
				<key>shopName</key>
				<string>欧比亚斯</string>
				<key>shopPicUrl</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/brand/欧比亚斯_20150829160804641.jpg</string>
				<key>cartId</key>
				<string>f5404a35-2498-4ad3-8a39-72117105c913</string>
				<key>originPrice</key>
				<integer>180</integer>
				<key>goodsColor</key>
				<string>喷漆,喷漆彩色</string>
				<key>goodsId</key>
				<string>20150619133056858-91809189-DD5D-4E00-94E7-4257E19FFF31</string>
				<key>goodsName</key>
				<string>E淘-吸顶灯(D260*H200mm)欧比亚斯欧比亚斯欧比亚斯欧比亚斯欧比亚斯欧比亚斯欧比亚斯欧比亚斯欧比亚斯欧比亚斯欧比亚斯欧比亚斯欧比亚斯欧比亚斯</string>
				<key>goodsNum</key>
				<string>12</string>
				<key>goodsPicUrl</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/product/MDGH/big/8063XD-3小_20160419103234235.png</string>
				<key>goodsPrice</key>
				<integer>54</integer>
				<key>goodsStocks</key>
				<integer>17</integer>
				<key>goodsStyle</key>
				<string>欧式风格,古典风格</string>
				<key>goodsType</key>
				<string>吸顶灯</string>
				<key>goodsSize</key>
				<string>尺码:L</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shopURL</key>
		<string>www.baidu.com---1</string>
		<key>shopId</key>
		<string>20150520103700232B86927F5-F1D6-434F-BA53-6C7D928F3120</string>
		<key>shopName</key>
		<string>哈佛斯顿</string>
		<key>goods</key>
		<array>
			<dict>
				<key>addDate</key>
				<string></string>
				<key>shopId</key>
				<string>20150520103700232B86927F5-F1D6-434F-BA53-6C7D928F3120</string>
				<key>shopName</key>
				<string>哈佛斯顿</string>
				<key>shopPicUrl</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/brand/哈佛斯顿_20150829155029543.jpg</string>
				<key>cartId</key>
				<string>83c918e8-1177-4415-8d62-9ab821a58019</string>
				<key>originPrice</key>
				<integer>140</integer>
				<key>goodsColor</key>
				<string>染色,染色黄铜色</string>
				<key>goodsId</key>
				<string>20160416175359622-8DB859A5-81C8-4DB2-B0F1-6F84D923D04E</string>
				<key>goodsName</key>
				<string>E淘-吸顶灯（D450*H430mm）</string>
				<key>goodsNum</key>
				<string>1</string>
				<key>goodsPicUrl</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/product/MDGH/big/未标题-1_20160416175411242_20160420113120500.png</string>
				<key>goodsPrice</key>
				<integer>42</integer>
				<key>goodsStocks</key>
				<integer>979</integer>
				<key>goodsStyle</key>
				<string>美式风格,简约美式</string>
				<key>goodsType</key>
				<string>吸顶灯</string>
				<key>goodsSize</key>
				<string>尺码:XL</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shopURL</key>
		<string>www.baidu.com---2</string>
		<key>shopId</key>
		<string>20150916091214889CAF04688-5CDE-4476-AC69-669D1FAF1024</string>
		<key>shopName</key>
		<string>成虹</string>
		<key>goods</key>
		<array>
			<dict>
				<key>addDate</key>
				<string></string>
				<key>shopId</key>
				<string>20150916091214889CAF04688-5CDE-4476-AC69-669D1FAF1024</string>
				<key>shopName</key>
				<string>成虹</string>
				<key>shopPicUrl</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/brand/成虹_20150922142034554.jpg</string>
				<key>cartId</key>
				<string>9eaa0976-99f4-41e7-865b-7453cd739be8</string>
				<key>originPrice</key>
				<integer>17</integer>
				<key>goodsColor</key>
				<string>染色,染色黄铜色</string>
				<key>goodsId</key>
				<string>20150922093021608-42ED688D-D273-4544-AB5E-4F7B33FF6C75</string>
				<key>goodsName</key>
				<string>E淘-商业照明（D190*H75mm）</string>
				<key>goodsNum</key>
				<string>99</string>
				<key>goodsPicUrl</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/product/MDGH/big/FB-TD1501-4000K_20160418134637260.png</string>
				<key>goodsPrice</key>
				<integer>13</integer>
				<key>goodsStocks</key>
				<integer>2959</integer>
				<key>goodsStyle</key>
				<string>商照电工,筒灯</string>
				<key>goodsType</key>
				<string>商业照明</string>
				<key>goodsSize</key>
				<string>尺码:M</string>
			</dict>
			<dict>
				<key>addDate</key>
				<string></string>
				<key>shopId</key>
				<string>20150916091214889CAF04688-5CDE-4476-AC69-669D1FAF1024</string>
				<key>shopName</key>
				<string>成虹</string>
				<key>shopPicUrl</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/brand/成虹_20150922142034554.jpg</string>
				<key>cartId</key>
				<string>b5495064-bf5b-4425-96a6-c5ee02e3b837</string>
				<key>originPrice</key>
				<integer>8</integer>
				<key>goodsColor</key>
				<string>染色,染色黄铜色</string>
				<key>goodsId</key>
				<string>20160417110109702-FB5046A7-11BD-4FE7-8963-DC1356C2FFDE</string>
				<key>goodsName</key>
				<string>E淘-商业照明(D35*H101mm)</string>
				<key>goodsNum</key>
				<string>33</string>
				<key>goodsPicUrl</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/product/MDGH/big/FB-TD1501-4000K_20160418134637260.png</string>
				<key>goodsPrice</key>
				<integer>6</integer>
				<key>goodsStocks</key>
				<integer>1000</integer>
				<key>goodsStyle</key>
				<string>商照电工,筒灯</string>
				<key>goodsType</key>
				<string>商业照明</string>
				<key>goodsSize</key>
				<string>尺码:XXL</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shopURL</key>
		<string>www.baidu.com---3</string>
		<key>shopId</key>
		<string>201506151539343818FD4F4F1-73BD-48D3-82EF-2E3CE387192D</string>
		<key>shopName</key>
		<string>杰克琼斯</string>
		<key>goods</key>
		<array>
			<dict>
				<key>addDate</key>
				<string></string>
				<key>shopId</key>
				<string>201506151539343818FD4F4F1-73BD-48D3-82EF-2E3CE387192D</string>
				<key>shopName</key>
				<string>测试品牌01</string>
				<key>shopPicUrl</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/brand/1_20150720211703024.jpg</string>
				<key>cartId</key>
				<string>267a404a-ed8e-43d1-ad97-5a519777556e</string>
				<key>originPrice</key>
				<integer>10000</integer>
				<key>goodsColor</key>
				<string>染色,染色黄铜色</string>
				<key>goodsId</key>
				<string>20150615164427547-DDFCC481-8E1F-44D1-8451-46E38D7A0436</string>
				<key>goodsName</key>
				<string>演示产品01001</string>
				<key>goodsNum</key>
				<string>3</string>
				<key>goodsPicUrl</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/product/MDGH/big/DSC_3609-8ZT_20150615184545875.png</string>
				<key>goodsPrice</key>
				<integer>1</integer>
				<key>goodsStocks</key>
				<integer>78</integer>
				<key>goodsStyle</key>
				<string>商照电工,筒灯</string>
				<key>goodsType</key>
				<string>吊灯</string>
				<key>goodsSize</key>
				<string>尺码:S</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
